<% layout('layouts/boilerplate')%>

<body class="container bg-dark my-5">
	<header class="d-flex justify-content-between mb-4">
		<div>
			<h1 class="h1 text-light my-auto">Edit</h1>
			<p class="text-light fs-6"><%= question.quest_text %></p>
		</div>
		<nav class="btn-group btn-group-sm my-auto" role="group" aria-label="nav group">
			<a class="btn btn-primary" href="/">Home</a>
			<a class="btn btn-secondary" href="all_quest">All Questions</a>
		</nav>
	</header>

	<form action="/updated_question" method="POST">
		<input type="hidden" name="quest_id" value="<%= question.id %>">
		<div class="input-group mb-5">
			<label class="input-group-text" for="question">Edit Question</label>
			<input class="form-control" type="text" name="question" id="question" value="<%= question.quest_text %>" />
		</div>
		<% question.answers.forEach((answer) => { %>
			<div class="input-group mb-5">
				<label class="input-group-text" for="<%= answer.id %>">Edit Answer</label>
				<input class="form-control" type="text" name="<%= answer.id %>" id="<%= answer.id %>" value="<%= answer.ans_text %>" />
				<!-- <div class="input-group-text">
					<label class="input-group pe-2" for="">Delete</label>
					<input class="form-check-input" type="checkbox" name="<%= answer.id %> delete">
				</div> -->
			</div>
		<% }) %>
		<div class="input-group mb-5">
			<label class="input-group-text" for="add_answer">Add Answer</label>
			<input class="form-control" type="text" name="add_answer" id="add_answer" />
		</div>
		<button class="btn btn-primary btn-sm" >OK</button>
	</form>
</body>

</html>
