<% layout('layouts/boilerplate')%>

<body class="container bg-dark my-5">
	<header class="d-flex justify-content-between mb-4">
		<h1 class="text-light my-auto"><%= testName %></h1>
		<nav class="btn-group btn-group-sm my-auto" role="group" aria-label="nav group">
			<a class="btn btn-primary" href="/">Home</a>
			<a class="btn btn-warning" href="/edit_test/<%= testName %>">Edit</a>
		</nav>
	</header>

	<main>
		<form id="test" action="/grade-test/<%= testId %>" method="post">
			<% testQuestions.forEach((question) => { %>
			<div class="card mb-5">
				<div class="card-body">
					<h5 class="card-title"><%= question.quest_text%></h5>
					<div>
						<%question.answers.forEach((answer) => {%>
						<div>
							<input type="radio" id="<%= answer.split(' ').join('_').toLowerCase() %>" name="<%= question.quest_text %>" value="<%= answer %>" required />
							<label for="<%= answer.split(' ').join('') %>"><%= answer %></label>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
			<% }) %>
			<button id="get-grade" class="btn btn-sm btn-primary" type="submit">Submit</button>
		</form>
	</main>
</body>

</html>
